In [2]:

import pandas as pd
df_users = pd.read_csv('users.csv')
df_posts = pd.read_csv('post.csv')
df_comments = pd.read_csv('comments.csv')
#print(df_users.shape)   #50000,5
#print(df_posts.shape)   #50000,13
#df_comments.head()
#print(df_users.columns)
#print(df_posts.columns)
#noofcomment=df_comments.query("userid==22656")
#noofcomment

In [20]:
df_users["reputation"].max()
max_rep_user=df_users.query("reputation==736381")
max_rep_user["displayname"].unique()[0]

'Jon Skeet'

In [2]:
df=pd.DataFrame()
print(df)
for i in [382275,382276]:
    ss=df_users[df_users["userid"]==i]
    print(ss)
    df=pd.concat([df,ss])
df

Empty DataFrame
Columns: []
Index: []
   userid  reputation displayname           loc   age
0  382275        2792       Steve  West Linn OR  48.0
   userid  reputation displayname            loc  age
1  382276          21       Yoshi  United States  NaN

   userid  reputation displayname            loc   age
0  382275        2792       Steve   West Linn OR  48.0
1  382276          21       Yoshi  United States   NaN

In [3]:
df_posts.columns

Index(['id_p', 'post_type', 'creationdate', 'score', 'viewcount', 'userid',
       'title', 'answercount', 'commentcount', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [3]:
#Question A:Find the display name and no. of posts created by the 
#user who has got maximum reputation.


df_users["reputation"].max()


max_rep=df_users.query('reputation==736381')
#max_rep["displayname"].unique()
max_rep
#max_rep_post=df_posts.query('userid==22656')
#max_rep_post["id_p"].nunique()
#max_rep

       userid  reputation displayname                     loc   age
19452   22656      736381   Jon Skeet  Reading United Kingdom  38.0

In [5]:
#Question A:Find the display name and no. of posts created by the user who has got maximum reputation.

# mergeing of csv file 
df_user_post=pd.merge(df_users,df_posts,on="userid",how="inner")
df_user_post.columns

# find the maximum reputation value
df_user_post["reputation"].max()

# filter the records of maximum reputation user
df_max_rep=df_user_post.query('reputation==736381')
df_max_rep
print("name of person have maximum reputattion",df_max_rep["displayname"].unique())
print("no. of post created by maximum reputation user",df_max_rep["id_p"].nunique())
df_max_rep

name of person have maximum reputattion ['Jon Skeet']
no. of post created by maximum reputation user 1

,userid,reputation,displayname,loc,age,id_p,post_type,creationdate,score,viewcount,title,answercount,commentcount,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
49044,22656,736381,Jon Skeet,Reading United Kingdom,38.0,2097693,2,19-01-2010 22:33,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Question:B:Find the average age of users on the Stack Overflow site.

avg_age = df_users["age"].mean()
print(avg_age)  #35.263352397712275

35.263352397712275

In [7]:
#Question C:Find the display name of user who posted the oldest post on Stack Overflow (in terms of date).

oldest_post = df_user_post["creationdate"].min()

print(oldest_post)
#filtered = df_user_post.query(['creationdate']=='01-08-2008 00:42')
df_filtered = df_user_post[(df_user_post.creationdate=='01-08-2008 00:42')]
df_filtered


print("name of user who has posted the oldest post on stackoverflow site",df_filtered['displayname'].unique())#display name :Chris Jester-Young is person who posted the oldest post on overflow.

01-08-2008 00:42
name of user who has posted the oldest post on stackoverflow site ['Kevin Dente']

In [8]:
#D	Find the display name and no. of comments done by the user who has got maximum reputation.

df=pd.merge(df_user_post,df_comments,on="userid",how="inner")
df

max_rep_user = df.loc[:,["reputation"]]  
print(max_rep_user.max())    #working- got list of reputation of all users


max_rep=df.loc[df['reputation'] == 736381]  # got whole record of user with maximum reputation
#max_rep.drop(['Unnamed: 0','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12'],axis=1)
print("no.of comments",max_rep["id_c"].nunique())# no. of comments posted by user
max_rep["displayname"].unique()
#max_rep

reputation    736381
dtype: int64
no.of comments 765

array(['Jon Skeet'], dtype=object)

In [9]:
#E.	Find the display name of user who has created maximum no. of posts on Stack Overflow.

max_posts_user = df_user_post.groupby('displayname')['id_p'].nunique()
max_posts_user
max_posts_user=max_posts_user.sort_values(ascending=False)

max_posts_user.index[0]  # i access first index of series 
#max_posts_user

'aku'

In [10]:
#F.	Find the owner name and id of user whose post has got maximum no. of view counts so far.
# Converting viewcount to a numerical data type.
 
max_viewcount=df_user_post["viewcount"]
y=max_viewcount.max()
y
data7=df_user_post.query("viewcount==758492.0")
#data7[["displayname","id_p","userid"]]


data7["displayname"].unique()

array(['Shadow_x99'], dtype=object)

In [11]:
#F.	Find the owner name and id of user whose post has got maximum no. of view counts so far.
# Converting viewcount to a numerical data type.

max_viewcount=data5["viewcount"]
y=max_viewcount.max()
data7=data5.query("viewcount==@y")
data7[["displayname","id"]]




'''
df.viewcount = pd.to_numeric(df.viewcount, errors='coerce')
view_count=df.groupby('id')['viewcount'].sum()  
view_count
view_count.sort_values(ascending=False)
#result of viewcount
# id        viewcount
#42648    38319533.0
#42466    12532909.0
#53569     9669780.0
#18082     8154757.0
#7665      6167340.0
max_view=df.loc[df['id'] == 42648]  #name:oded, id of post:42648, post is : best way to get identity of inserted row?

max_view[['displayname','id','title']].head(1)


'''

NameError: name 'data5' is not defined

In [ ]:
#G.	Find the owner name and id of user whose post has got maximum no. of comment counts so far.
# Converting commentcount to a numerical data type.
df_user_post.commentcount = pd.to_numeric(df_user_post.commentcount, errors='coerce')
a=df_user_post.commentcount.max()
a
max_comm=df_user_post.query("commentcount==@a")
max_comm[["displayname","userid","id_p"]]

In [ ]:
#H.	Find the location which has maximum no of Stack Overflow users.

#count no. of users in each location


#df_users.groupby("loc")["dispalyname"].count()


#max_usesr=df_users.groupby('loc')['userid'].nunique().sort_values(ascending=False)
#max_usesr

# or 


m8=df_user_post["loc"].value_counts().head(8)
m8

In [ ]:
import matplotlib.pyplot as plt
plt.bar(m8.index,m8.values)
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.pie(m8.values,labels=m8.index,startangle=40,explode=(0,0,0,0.2,0,0,0,0),shadow=True,autopct='%.2f%%')
plt.show()

In [ ]:
plt.scatter(m8.index,m8.values)
plt.plot(m8.index,m8.values,'r+')

plt.xticks(rotation=90)

plt.show()

In [ ]:
plt.pie()

In [ ]:
#I.	Find the total no. of answers, posts, comments created by Indian users.

bb=df_user_post[df_user_post['loc'].str.contains("India") ==True]
bb

df_indian_users = bb[bb['loc'] != 'Indianapolis IN']
df_indian_users


df_indian_users["answercount"]=pd.to_numeric(df_indian_users["answercount"],errors='coerce').sum()

print("answercount",df_indian_users["answercount"].sum())

print("no. of post",df_indian_users["id_p"].nunique())


df_india=pd.merge(df_indian_users,df,on="userid",how="inner")

print("no. of comments",df_india["id_c"].nunique())

In [ ]:


#print(df_indian_users['loc'])
#df_indian_users.to_csv('F:/ml/refined_indian_users.csv')

# I.Find the total no. of answers, posts, comments created by Indian users.
ind = pd.read_csv('F:/ml/refined_indian_users.csv')
ans_count=ind['answercount'].count()
print("Answer count of indian user:",ans_count)  #219

comment_count=ind['commentcount'].count()
print("comment count of indian user:",comment_count)  #602

post_count=ind['id'].count()
print("Post count of indian user:",post_count)  #1935

In [ ]:

#H.	Find the location which has maximum no of Stack Overflow users.


# replacing all cities of USA with US
df.loc[df['loc'].isin(['New York NY', 'San Diego CA', 'Mexico City Mexico', 'Boston MA', 'Albany NY', 'New Rochelle NY', 'Piedmont CA', 'Chicago IL', 'USA', 'NY', 'Silicon Valley', 'San Francisco CA', 'Los Angeles', 'United States', 'California' ])]='US'
#df.loc[df['loc'].isin(['Mumbai India', 'Gurgaon India', 'Banglore India'])]=='INDIA'
#or

# another way of replacing cities
#print(df['loc'].replace(['New York NY', 'San Diego CA', 'Mexico City Mexico', 'Boston MA', 'Albany NY', 'New Rochelle NY', 'Piedmont CA', 'Chicago IL', 'USA', 'NY', 'Silicon Valley', 'San Francisco CA', 'Los Angeles', 'United States', 'California'],'US').replace(['Toronto Canada', 'Ottawa Canada'],'Canada').replace(['Mumbai India', 'Gurgaon India', 'Banglore India'],'India')) 
#df['loc']=df['loc'].replace(['New York NY', 'San Diego CA', 'Mexico City Mexico', 'Boston MA', 'Albany NY', 'New Rochelle NY', 'Piedmont CA', 'Chicago IL', 'USA', 'NY', 'Silicon Valley', 'San Francisco CA', 'Los Angeles', 'United States', 'California'],'US').replace(['Toronto Canada', 'Ottawa Canada'],'Canada').replace(['Mumbai India', 'Gurgaon India', 'Banglore India'],'India').replace(['Cambridge United Kingdom','London United Kingdom ','United Kingdom','Chester United Kingdom','Forest of Dean United Kingdom','Reading United Kingdom','Cardiff United Kingdom ','London United Kingdom','Cardiff United Kingdom','Southampton United Kingdom'],'UK')
#df.to_csv('corrected_locations.csv')

max_usesr=df_user_post.groupby('loc')['userid'].count().sort_values(ascending=False)
max_usesr

In [ ]:
# lets join comment.csv file also. But before joining open comments.csv file and rename userid to owneruserid and id to comments_id just for convience
master_frame = pd.merge(master_frame_pre, df_comments, on='userid', how='inner')
#print(master_frame.shape)   # (190118, 19)

#master_frame.to_csv("F:/ml/final_file.csv")

#now open final_file.csv file and delete columns with a name of unnamed.

df = pd.read_csv("F:/ml/final_file.csv",encoding="ISO-8859-1")
df.head(2)